.sv_qstn .sq-root {
    border: 1px solid gray;
    border-left: 4px solid #18a689;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    width: 90%;
}

.sv_qstn .sq-root-cb {
    border-left: 4px solid orange;
}

.sq-title {
    font-size: 20px;
    margin-left: 20px;
}

.sq-title-required {
    color: red;
}

.sq-label {
    margin-left: 30px;
}
.sq-item:nth-child(1) {
    margin-bottom: 5px;
}