version: '3'
# Never use this in a production environment.
# Run with docker-compose -f docker-compose-test.yaml up
services:
  python-tests:
    build: .
    environment:
      - CONFIG_LOCATION=/apps/consoleme/docker/example_config_test.yaml
    volumes:
      - .:/apps/consoleme
      - ~/.aws:/root/.aws
      - ~/.ssh:/root/.ssh
    # entrypoint: watchmedo auto-restart --recursive --pattern="*.py" --directory="." pytest
    entrypoint: >
      bash -c 'pip install argh watchdog; pip install -e /apps/consoleme/default_plugins;
      watchmedo auto-restart --recursive --pattern="*.py;*.yaml" --directory="." make test'
