version: "3"
# Never use this in a production environment.
# Run with docker-compose -f docker-compose-test.yaml up
services:
  python-tests:
    build: .
    environment:
      - CONFIG_LOCATION=/apps/consoleme/example_config/example_config_test.yaml
      - SETUPTOOLS_USE_DISTUTILS=stdlib
    volumes:
      - .:/apps/consoleme:delegated
      - ~/.aws:/root/.aws:cached
      - ~/.ssh:/root/.ssh:cached
    # entrypoint: watchmedo auto-restart --recursive --pattern="*.py" --directory="." pytest
    entrypoint: >
      bash -c 'pip install argh watchdog;
        watchmedo auto-restart --recursive --pattern="*.py;*.yaml" --directory="." make test'
