aiozipkin
asgiref # Allows sync_to_async call, executes synchronous code in its own threadpool.
bleach
boto3
cchardet
celery[redis]
cloudaux
datamodel-code-generator
deepdiff[murmur]
defusedxml
ed25519
elasticsearch
elasticsearch_dsl
gitpython
google-api-python-client
google-auth-httplib2
google-cloud-storage
gunicorn
hiredis
idna<2.9  # Required because moto has it pinned
ipython
isodate
jmespath
jsonschema
kombu<5 # Unpin when new Celery is released: https://github.com/celery/celery/issues/6266
marshmallow
logmatic-python
lxml
okta_jwt
pandas<1 #  Internal plugin depends on Pandas < 1
pkgconfig
policy-sentry
policyuniverse
presto-python-client
pycurl # For AsyncHTTPClient
pydantic
pyjwt
pylint
python-dateutil
python3-saml
pytz
redis
requests
retry
retrying
ruamel.yaml
sentry-sdk==0.16.1 # Internal plugin depends on a library which depends on this version of sentry_sdk
simplejson
six
tenacity
tornado
ujson<3 # Unpin when this bug is fixed: https://github.com/ultrajson/ultrajson/issues/415
uvloop
validate_email
xmlsec
