aiozipkin
asgiref # Allows sync_to_async call, executes synchronous code in its own threadpool.
atlassian-python-api # Supports creating PRs in BitBucket
bcrypt # Used for password hash/verification
bleach
boto3
cchardet
celery
cloudaux
cryptography
datamodel-code-generator
decorator
deepdiff
defusedxml
elasticsearch
elasticsearch_dsl
furl
gitpython
google-api-python-client
google-auth-httplib2
google-cloud-storage
gunicorn
hiredis
idna
isodate
jmespath
jsonschema
kombu
marshmallow
mccabe==0.6.1 # pylint==2.14.4 and flake8==4.0.1 require differing versions
numpy
logmatic-python
lxml
okta_jwt
pandas
parliament
password_strength
pkgconfig
policy-sentry
policyuniverse
presto-python-client
pycurl # For AsyncHTTPClient
pydantic
pyjwt
pylint
PyNaCl
python-dateutil
python-json-logger
python3-saml
pytz
questionary
redis
requests
retry
retrying
ruamel.yaml
sentry-sdk
simplejson
six
tenacity
tornado
ujson
uvloop
validate_email
xmlsec
