-c requirements.txt
asynctest
bandit
black
coverage
fakeredis
flake8
flake8-docstrings
flake8-import-order
mock<4 # Mock 4 breaks a bunch of unit tests
mockredispy
moto>=1.3.14.dev522 # For unit test "delete_policy" call
mypy
Pillow
pre-commit
pytest
pytest-asyncio
pytest-cov
pytest-html
pytest-mock
pytest-timeout
pytest-tornado
pytest-xdist
readme_renderer
selenium
tornado
tox