apispec
apispec-webframeworks
asgiref # Allows sync_to_async call, executes synchronous code in its own threadpool.
bleach
boto3
cchardet
celery[redis]
cloudaux
deepdiff[murmur]
defusedxml
ed25519
elasticsearch
elasticsearch_dsl
google-api-python-client
google-auth-httplib2
google-cloud-storage
gunicorn
hiredis
ipython
isodate
jmespath
jsonschema
kombu
marshmallow<3
logmatic-python
lxml
pandas
pkgconfig
policyuniverse
presto-python-client
pycurl # For AsyncHTTPClient
pyjwt
pylint
python3-saml
pytz
raven
redis
requests
retry
retrying
simplejson
six
tenacity
tornado
ujson
uvloop
validate_email
xmlsec