{% include "header.html" %}
<div id="wrapper" class="container">
    <!-- TODO(ccastrapel): Put these files locally -->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css"> -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script> -->
    <link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js"></script>-->
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
    <style>
        body {background-color: transparent;}
    </style>
    <script>
        function searchTable() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("accessui-search");
            filter = input.value.toUpperCase();
            table = document.getElementById("roles");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function showRequestModal(group) {
            document.getElementById("group_to_add").value = group;
            document.getElementById("groupName").innerHTML = group;
            $('.ui.basic.modal.request').modal('show');
        }

        function showRemoveModal(group) {
            document.getElementById("group_to_remove").value = group;
            $('.ui.basic.modal.remove').modal('show');
        }

        function hideRequestModal() {
            $('.ui.basic.modal.request').modal('hide');
        }

        function hideRemoveModal() {
            $('.ui.basic.modal.remove').modal('hide');
        }

        function getCookie(name) {
            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
        }

        window.addEventListener("load", function () {
            function sendRequest(json, endpoint) {
                var XHR = new XMLHttpRequest();
                var xsrf = getCookie("_xsrf");
                hideRequestModal();
                hideRemoveModal();
                var req = JSON.parse(json)
                var req_element_v;
                for (var i=0; i < req.length; i++) {
                    if (req[i].name == "group") {
                        req_element_v = req[i].value;
                    }
                }
                var req_element = document.getElementsByName(req_element_v)[0];
                req_element.className = "ui grey loading button";
                req_element.textContent = "LOADING";
                req_element.onclick = ""

                XHR.addEventListener("load", function(event) {
                    var res = JSON.parse(event.target.responseText);
                    if (res.status == "pending") {
                        var element = document.getElementsByName(res.group)[0];
                        element.className = "ui grey button";
                        element.onclick = function() { location.href = "/accessui/request/" + res.request_id; };
                        element.textContent = "PENDING";
                    }

                    if (res.status == "approved") {
                        var element = document.getElementsByName(res.group)[0];
                        element.className = "ui grey button";
                        element.onclick = function() { location.href = "/accessui/request/" + res.request_id; };
                        element.textContent = "APPROVED - PENDING SYNC";
                    }

                    if (res.status == "cancelled") {
                        var element = document.getElementsByName(res.group)[0];
                        element.className = "ui grey button";
                        if (res.request_id != null) {
                            element.onclick = function() { location.href = "/accessui/request/" + res.request_id; };
                        }
                        element.textContent = "CANCELLED - PENDING SYNC";
                    }
                });

                XHR.addEventListener("error", function(event) {
                    alert('Oops! Something went wrong.');
                });

                // Set up our request
                XHR.open("POST", endpoint);
                XHR.setRequestHeader("X-Xsrftoken", xsrf);

                XHR.send(json);
            }
            // ...and take over its submit event.
            document.getElementById("aws_access_form").addEventListener("submit", function (event) {
                event.preventDefault();
                $('.ui.dimmer').addClass('active');
                var arr = $(this).serializeArray();
                var json = JSON.stringify(arr);
                sendRequest(json, "/accessui");
                $('.ui.dimmer').removeClass('active');
            });

            // ...and take over its submit event.
            document.getElementById("aws_remove_form").addEventListener("submit", function (event) {
                event.preventDefault();
                $('.ui.dimmer').addClass('active');
                var arr = $(this).serializeArray();
                var json = JSON.stringify(arr);
                sendRequest(json, "/accessui/remove_request");
                $('.ui.dimmer').removeClass('active');
            });
        });
    </script>
    <div id="portfolio" class="container">
        <div style="margin-bottom: 15px;">
            This page is deprecated. It has been superceded by <a href="/accessui/groups?requestable=true">the new Request Access page</a>.
        </div>
        <div class="ui fluid input">
            <input type="text" id="accessui-search" onkeyup="searchTable()" placeholder="Search for a group" size="35">
        </div>
        <table id="roles" class="ui selectable sortable celled striped table">
            <thead>
                <tr>
                    <th style="width:100px">Group</th>
                    <th style="width:200px">Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for _, group in role_status.items() %}
                    {% if group["visible"] or group["member"] %}
                        <tr>
                            <td style="width:100px"><a href="/accessui/group/{{ escape(group["name"]) }}" target="_blank">{{ escape(group["name"].split("@")[0]) }}</a></td>
                            <td style="width:200px">{{ escape(group["description"]) }}</td>
                            {% if group["member"] and group.get("status", "") != "cancelled" %}
                                <td style="width:200px;text-align: center;" class="left aligned"><button class="ui negative button" name="{{ escape(group['name']) }}" id="{{ escape(group['name']) }}" onclick='showRemoveModal(this.id);'>REMOVE ACCESS</button></td>
                            {% elif group.get("status", "") == "pending" %}
                                <td style="width:200px;text-align: center;" class="left aligned"><button class="ui grey button" name="{{ escape(group['name']) }}" id="{{ escape(group['name']) }}" onclick="location.href='/accessui/request/{{ escape(group['request_id']) }}';">PENDING</button></td>
                            {% elif group.get("status", "") == "approved" and not group["member"] and group.get("recently_modified") %}
                                <td style="width:200px;text-align: center;" class="left aligned"><button class="ui grey button" name="{{ escape(group['name']) }}" id="{{ escape(group['name']) }}" onclick="location.href='/accessui/request/{{ escape(group['request_id']) }}';">APPROVED
                                        - PENDING SYNC</button></td>
                            {% elif group.get("status", "") == "cancelled" and group["member"] and group.get("recently_modified") %}
                                <td style="width:200px;text-align: center;" class="left aligned"><button class="ui grey button" name="{{ escape(group['name']) }}" id="{{ escape(group['name']) }}" onclick="location.href='/accessui/request/{{ escape(group['request_id']) }}';">CANCELLED
                                        - PENDING SYNC</button></td>
                            {% else %}
                                <td style="width:200px;text-align: center;" class="left aligned"><button class="ui positive button" name="{{ escape(group['name']) }}" id="{{ escape(group['name']) }}" onclick="location.href='/accessui/request_access/{{ escape(group['name']) }}';">REQUEST
                                        ACCESS</button></td>
                            {% end %}
                        </tr>
                    {% end %}
                {% end %}
            </tbody>
        </table>
    </div>
    <div class="ui basic modal request" style="position: absolute;top: 50%;left: 50%;margin-top: -50px;margin-left: -50px;width: 400px;height: 400px;​">
        Please type in your justification for requesting access to
        <p id="groupName"></p>
        <form id="aws_access_form" name="aws_access_form" action="/accessui" method="post" enctype='application/json'>
            {% module xsrf_form_html() %}
            <div class="field">
                <textarea name="justification" cols="40" rows="5" style="background-color: white;color:black;" required></textarea>
            </div>
            <input id="group_to_add" name="group" type="hidden" />
            <button type="submit" class="ui primary button">
                Submit
            </button>
            <button type="button" class="ui button" onclick="hideRequestModal()">
                Discard
            </button>
        </form>
    </div>

    <div class="ui basic modal remove" style="position: absolute;top: 50%;left: 50%;margin-top: -50px;margin-left: -50px;width: 400px;height: 400px;​">
        Are you sure?
        <form id="aws_remove_form" name="aws_remove_form" action="/accessui/remove_request" method="post" enctype='application/json'>
            {% module xsrf_form_html() %}
            <input id="group_to_remove" name="group" type="hidden" />
            <button type="submit" class="ui primary button">
                Yes
            </button>
            <button type="button" class="ui button" onclick="hideRemoveModal()">
                No
            </button>
        </form>
    </div>

    <script>
        $(".close.icon").click(function() {
            $(this).parent().hide();
        });
    </script>
</div>
{% include "footer.html" %}
