{% include "header.html" %}
<script type="text/javascript" charset="utf8" src="/static/js/accessui_request.js"></script>
<!-- Request Last Updated: {{ request.get("last_updated") }} -->
<div id="wrapper" class="container">
    <div class="ui dimmer">
        <div class="ui medium text loader">Loading</div>
    </div>

    <div class="ui basic modal">
        <div id="error_div" class="ui hidden error message">
            <div class="header">
                Oops!
            </div>
            <p id="error_response"></p>
        </div>
        <div id="success_div" class="ui hidden positive message">
            <div class="header">
                Success!
            </div>
            <p id="success_response"></p>
        </div>
        <div class="scrolling content">
            <div id="modal_content"></div>
        </div>
    </div>

    <table class="ui celled table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td><b>User</b></td>
                <td>
                    <b>{{ escape(requestor_info.get("name").get("fullName")) }} - <a href="mailto:{{ escape(request.get("username")) }}">{{ escape(request.get("username")) }} </a></b>
                    {% if "get_employee_info_url" in config.dir_ref(config.config_plugin) %}
                        <a target="_blank" href="{{ config.config_plugin().get_employee_info_url(escape(request.get("username", ""))) }}">

                            {% if "get_employee_photo_url" in config.dir_ref(config.config_plugin) and config.config_plugin().get_employee_photo_url(escape(request.get("username", "")))%}
                            <img
                                class="ui mini spaced image" src="{{ config.config_plugin().get_employee_photo_url(escape(request.get("username", ""))) }}"
                            />
                            {% end %}
                        </a>
                    {% end %}
                </td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ escape(requestor_info.get("customAttributes", {}).get("title")) }}</td>
            </tr>
            <tr>
                <td>Manager email</td>
                <td>
                    <a href="mailto:{{ escape(requestor_info.get("relations", [{}])[0].get("value", "")) }}">{{ escape(requestor_info.get("relations", [{}])[0].get("value", "")) }}</a>
                </td>
            </tr>
            <tr>
                <td>Requested group</td>
                <td><a href="/accessui/group/{{ escape(request.get("group")) }}" target="_blank">{{ escape(request.get("group")) }}</a></td>
            </tr>
            <tr>
                <td>User justification</td>
                <td>{{ escape(request.get("justification")) }}</td>
            </tr>
            <tr>
                <td>Request Status</td>
                <td>
                    <span style="copendinglor: red;">{{ escape(request.get("status")) }}</span>
                    {% if recently_modified %}
                        - <b>It looks like this request was recently modified. Please wait up to 30 minutes for the changes to synchronize</b>
                    {% end %}
                </td>
            </tr>
            {% if request.get("reviewer_comments") %}
                <tr>
                    <td>Reviewer comments</td>
                    <td>{{ escape(request.get("reviewer_comments")) }}</td>
                </tr>
            {% end %}
            {% if request.get("updated_by") %}
                <tr>
                    <td>Updated by</td>
                    <td>{{ escape(request.get("updated_by")) }}</td>
                </tr>
            {% end %}
            <tr>
                <td>User passed background check</td>
                <td><span style="copendinglor: red;">{{ escape(requestor_info.get('customAttributes', dict()).get('bcStatusIndicator')) == "1" and escape(requestor_info.get('customAttributes', {}).get('backgroundCheckPackage')) != 'Driving and Aviation Package' }}</span>
                </td>
            </tr>
            <tr>
                <td>Secondary Approver</td>
                <td>{{ ", ".join(secondary_approvers) }}</td>
            </tr>
        </tbody>
    </table>
    <form class="ui form" onsubmit="return false;">
        {% module xsrf_form_html() %}
        <div class="ui list" style="width: 900px;">
            {% if (show_approve_reject_buttons or show_cancel_button) and request.get("status", "") in ["pending", "approved"] %}
                <div class="item">
                    <label>Reviewer Comments:</label>
                    <textarea id="reviewer_comments" rows="2"></textarea>
                </div>
                <br />
            {% end %}
            <div class="item">
                {% if show_approve_reject_buttons %}
                    <button class="positive ui button" name="status" id="approved" onClick="accessuiApproveRejectFlow(this.id, document.getElementById('reviewer_comments').value);">
                        Approve
                    </button>
                    <button class="negative ui button" name="status" id="rejected" onClick="accessuiApproveRejectFlow(this.id, document.getElementById('reviewer_comments').value);">
                        Reject
                    </button>
                {% end %}

                {% if show_cancel_button %}
                    <button class="negative ui button" name="status" id="cancelled" onClick="accessuiApproveRejectFlow(this.id, document.getElementById('reviewer_comments').value);">
                        Cancel
                    </button>
                {% end %}

                {% if show_pending_button %}
                    <button class="negative ui button" name="status" id="pending" onClick="accessuiApproveRejectFlow(this.id, 'Returned to Pending state');">
                        Return to Pending state [ADMIN]
                    </button>
                {% end %}
            </div>
    </form>
</div>
{% include "footer.html" %}
