{% include "header.html" %}
{% import yaml %}
{% module xsrf_form_html() %}
<div id="wrapper" class="container">
    <script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf8" src="/static/js/dynamic_config.js"></script>

    <div class="ui dimmer">
        <div class="ui medium text loader">Loading</div>
    </div>
    <div class="ui basic modal">
        <div id="error_div" class="ui hidden error message">
            <div class="header">
                Oops!
            </div>
            <p id="error_response"></p>
        </div>
        <div id="success_div" class="ui hidden positive message">
            <div class="header">
                Success!
            </div>
            <p id="success_response"></p>
        </div>
        <div class="scrolling content">
            <div id="modal_content"></div>
        </div>
    </div>
    <h2 class="ui header"><i class="book icon"></i> Update Dynamic Configuration</h2>
    <style type="text/css" media="screen">
        #config_editor {
            border: 1px solid lightgray;
            margin: auto;
            height: 200px;
            width: 80%;
        }
    </style>
    <div class="active content">
        <pre id="config_editor">{{ dyanmic_config }}</pre>
        <div class="scrollmargin"></div>
    </div>
    <input type="hidden" id="config_editor"/>
    <button class="ui primary button" type="save"
            onClick="updateDynamicConfig(config_editor);">save
    </button>
    <script>
      let config_editor = ace.edit("config_editor", {
        theme: "ace/theme/monokai",
        mode: "ace/mode/yaml",
        maxLines: 5000,
        wrap: true,
        autoScrollEditorIntoView: true
      });
      config_editor.resize()
      $('.ui.accordion')
        .accordion();
      let ar_textarea = $('hidden[id="config_editor"]');
      config_editor.getSession().on("change", function () {
        ar_textarea.val(config_editor.getSession().getValue());
      });
    </script>
</div>


{% include "footer.html" %}