{% include "header.html" %}
<div id="wrapper" class="container">
    <meta charset="UTF-8">
    <title>404 not found</title>
    </head>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <link href="/static/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/tabulator.min.js"></script>
    <link href="/static/css/tabulator-midnight.css" rel="stylesheet">
    <body>
    <h2 align="center"> HTTP 404 not found</h2>
    <div id="container">
        <img class="ui centered extra large image" src="/static/404/{{ random_404_image }}">
    </div>
    </body>
</div>

{% include "footer.html" %}