{% include "header.html" %}
<script>
    function toLocalDate(date) {
      let d = new Date(date).toLocaleString();
      return d
    }
</script>
<div id="wrapper" class="container">
    <h2 class="ui center aligned icon header">
        <i class="settings icon"></i>
        <div class="center content">
            Pending requests
        </div>
    </h2>

    <div class="ui three item stackable tabs menu">
        <a class="item active" data-tab="awaitingmyapproval">Pending Request awaiting my approval</a>
        <a class="item" data-tab="allpending">All Pending Requests</a>
        <a class="item" data-tab="mypending">My Pending Requests</a>
    </div>

    <div class="ui bottom attached tab segment active" data-tab="awaitingmyapproval">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Request</th>
                    <th>{{ group_column_header }}</th>
                    <th>User</th>
                    <th>Justification</th>
                    <th>Secondary Approvers</th>
                    <th>Request Time</th>
                </tr>
            </thead>
            <tbody>
                {% for r in pending_requests.get("pending_requests_waiting_my_approval", []) %}
                    <tr>
                        {% if r.get("group") %}
                            <td data-label="Request"><a href="/accessui/request/{{ escape(r.get("request_id")) }}">{{ escape(r.get("request_id")) }}</a>
                            </td>
                            <td data-label="Group">{{ escape(r.get("group")) }}</td>
                        {% elif r.get("arn") %}
                            <td data-label="Request"><a href="/policies/request/{{ escape(r.get("request_id")) }}">{{ escape(r.get("request_id")) }}</a>
                            </td>
                            <td data-label="Group">{{ escape(r.get("arn")) }}</td>
                        {% end %}
                        <td data-label="User">{{ escape(r.get("username")) }}</td>
                        <td data-label="Justification">{{ escape(r.get("justification")) }}</td>
                        <td data-label="Secondary Approvers">{{ escape(",".join(r.get("secondary_approvers"))) }}</td>
                        <td data-label="Request Time"><script>document.write(toLocalDate({{ r.get("request_time") * 1000}}))</script></td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="allpending">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Request</th>
                    <th>{{ group_column_header }}</th>
                    <th>User</th>
                    <th>Justification</th>
                    <th>Secondary Approvers</th>
                    <th>Request Time</th>
                </tr>
            </thead>
            <tbody>
                {% for r in pending_requests.get("all_pending_requests", []) %}
                    <tr>
                        {% if r.get("group") %}
                            <td data-label="Request"><a href="/accessui/request/{{ escape(r.get("request_id")) }}">{{ escape(r.get("request_id")) }}</a>
                            </td>
                            <td data-label="Group">{{ escape(r.get("group")) }}</td>
                        {% elif r.get("arn") %}
                            <td data-label="Request"><a href="/policies/request/{{ escape(r.get("request_id")) }}">{{ escape(r.get("request_id")) }}</a>
                            </td>
                            <td data-label="Group">{{ escape(r.get("arn")) }}</td>
                        {% end %}
                        <td data-label="User">{{ escape(r.get("username")) }}</td>
                        <td data-label="Justification">{{ escape(r.get("justification")) }}</td>
                        <td data-label="Secondary Approvers">{{ escape(",".join(r.get("secondary_approvers"))) }}</td>
                        <td data-label="Request Time"><script>document.write(toLocalDate({{ r.get("request_time") * 1000}}))</script></td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>

    <div class="ui bottom attached tab segment" data-tab="mypending">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Request</th>
                    <th>{{ group_column_header }}</th>
                    <th>User</th>
                    <th>Justification</th>
                    <th>Secondary Approvers</th>
                    <th>Request Time</th>
                </tr>
            </thead>
            <tbody>
                {% for r in pending_requests.get("my_pending_requests", []) %}
                    <tr>
                        {% if r.get("group") %}
                            <td data-label="Request"><a href="/accessui/request/{{ escape(r.get("request_id")) }}">{{ escape(r.get("request_id")) }}</a>
                            </td>
                            <td data-label="Group">{{ escape(r.get("group")) }}</td>
                        {% elif r.get("arn") %}
                            <td data-label="Request"><a href="/policies/request/{{ escape(r.get("request_id")) }}">{{ escape(r.get("request_id")) }}</a>
                            </td>
                            <td data-label="Group">{{ escape(r.get("arn")) }}</td>
                        {% end %}
                        <td data-label="User">{{ escape(r.get("username")) }}</td>
                        <td data-label="Justification">{{ escape(r.get("justification")) }}</td>
                        <td data-label="Secondary Approvers">{{ escape(",".join(r.get("secondary_approvers"))) }}</td>
                        <td data-label="Request Time"><script>document.write(toLocalDate({{ r.get("request_time") * 1000}}))</script></td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    <script>
        $('.menu .item').tab();
    </script>
</div>
{% include "footer.html" %}
