{% include "header.html" %}
{% import ujson as json %}
<div id="wrapper" class="container">
    <script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf8" src="/static/js/common.js"></script>
    <div id="testformdiv"></div>
    <script src="/static/js/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/sweetalert2.js"></script>
    <script>
      // You can modify the editor theme by manually writing a localstorage variable for aceEditorTheme
      let arn = "{{ role.get('arn') }}";
      let ses_arn = "{{ config.get('ses.arn') }}"
      let ses_from_address = "{{ config.get('ses.from_address_placeholder') }}"
      let account_id = "{{ account_id }}";
      let custom_s3_guidance = `{% raw config.get('policies.s3_support_guidance', '') %}`;
      let custom_s3_bucket_name_header = `{% raw config.get('policies.s3_custom_bucket_name_header', 'Bucket Name') %}`;
      let editor_theme = localStorage.getItem("aceEditorTheme");
      if (editor_theme == null) {
        editor_theme = "monokai";
      }
      // Also the keyboard handler! vim and emacs are available.
      let keyboard_handler = localStorage.getItem("aceKeyboardHandler");

      async function PolicyTypeahead(resource_type, value, account_id = null, limit = 20) {
        let url = "/policies/typeahead?resource=" + resource_type + "&search=" + value + "&limit=" + limit
        if (account_id) {
          url += "&account_id=" + this.state.account_id
        }

        const resp = await fetch(url)
        return JSON.parse(JSON.stringify(await resp.json()))
      }

      function insertMatch(insertEditor, data) {
        let insertValue = data.value;
        var lastPositon = editor.selection.getCursor();

        insertEditor.jumpToMatching();
        var startPosition = editor.selection.getCursor();

        insertEditor.session.replace({
          start: {row: startPosition.row, column: startPosition.column},
          end: {row: lastPositon.row, column: lastPositon.column}
        }, "");
      }

      let permissionCompleter = {
        getCompletions: async function (editor, session, pos, prefix, callback) {
          let resource = false
          let action = false
          const lines = editor.getValue().split("\n")
          for (let i = pos.row; i >= 0; i--) {
            if (lines[i].indexOf('"Resource"') > -1) {
              resource = true
              break
            }

            if (lines[i].indexOf('"Action"') > -1) {
              action = true
              break
            }
          }
          // Check for other statements? The beginning of the statement? The curly bracket?
          // if not action or resource do nothing?
          if (prefix.length === 0 || (action === false && resource === false)) {
            callback(null, []);
            return
          }
          let resources = [
            {"resource": "arn:aws:s3:::", "type": "s3"},
            {"resource": "arn:aws:sqs:", "type": "sqs"},
            {"resource": "arn:aws:sns:", "type": "sns"},
            {"resource": "arn:aws:iam:", "type": "iam"}];

          let regions = [
            {"region": "us-east-1", "type": "region"},
            {"region": "us-west-2", "type": "region"},
            {"region": "eu-west-1", "type": "region"},
          ]
          let row = session.getDocument().getLine(pos["row"]).trim().replace(/\"/g, "");
          if (action === true) {
            $.getJSON(
              "/api/v1/policyuniverse/autocomplete/?prefix=" + row,
              function (wordList) {
                // wordList like [{"permission":"s3:GetObject"}]
                callback(null, wordList.map(function (ea) {
                  let value = ea.permission;
                  if (row.indexOf(":") > -1) {
                    value = value.split(":")[1];
                  }
                  return {name: ea.permission, value: value, meta: "Permission", score: 1000}
                }));
              })
            return
          } else if (resource === true) {
            // We know we're in the Resource section, so let's help type the ARN starting with the prefix
            // of `arn:aws:<resource_type>`
            if ("arn:aws:".indexOf(row) > -1 && row.length < 9) {
              callback(null, resources.map(function (ea) {
                return {name: ea.resource, value: ea.resource, meta: "Resource", score: 1000}
              }));
              return
            } else if (row.indexOf("arn:aws:") > -1) {
              // We have `arn:aws:<resource_type>`, now let's help type of the region if necessary
              const splitted = row.split(":")
              if (splitted.length === 4 && splitted[2] != "s3") {
                callback(null, regions.map(function (ea) {
                  return {name: ea.region, value: ea.region, meta: "Region", score: 1000}
                }));
                return
              }
              let resource_type = null
              resources.forEach(function (r) {
                if (row.indexOf(r.resource) > -1) {
                  resource_type = r.type
                }
              });
              if (resource_type !== null) {
                row = row.replace("arn:aws:s3:::", "")
                let results = await PolicyTypeahead(resource_type, row, null, 100)
                let matching_resources = []
                results.forEach(function (result) {
                  // Strip out what the user has currently typed (`row`) from the full value returned from typeahead
                  const v = result.title.replace(row, row[row.length - 1]);
                  matching_resources.push({name: result.title, value: v, meta: "Resource", score: 1000})
                })
                callback(null, matching_resources)
              }
            }
          }
        }
      };
      let langTools = ace.require("ace/ext/language_tools");
      langTools.addCompleter(permissionCompleter);
      let permission_value = {};
      {% for k, v in config.get('dynamic_config.permission_templates', {}).items() %}
      permission_value["{{ k }}"] = {};
      permission_value["{{ k }}"]["label"] = "{{ v["label"] }}";
      permission_value["{{ k }}"]["policy"] = `{% raw v["policy"] %}`;
      {% end %}
      let readOnly = false;
      {% if read_only %}
      readOnly = true;
      {% end %}
    </script>

    <div class="ui dimmer">
        <div class="ui medium text loader">Loading</div>
    </div>
    <div class="ui basic modal">
        <div id="error_div" class="ui hidden error message">
            <div class="header">
                Oops!
            </div>
            <p id="error_response"></p>
        </div>
        <div id="success_div" class="ui hidden positive message">
            <div class="header">
                Success!
            </div>
            <p id="success_response"></p>
        </div>
        <div class="scrolling content">
            <div id="modal_content"></div>
        </div>
    </div>
    <h2 class="ui header"><a href="javascript:window.location.href=window.location.pathname + '?refresh=true'"><i
            class="refresh icon"></i></a> Role {{ role.get("arn") }} ({{ account_name }}) {% if cloudtrail_error_uri %}Logs: [<a target="_blank" href="{{ cloudtrail_error_uri }}">Cloudtrail</a>] {% end %} {% if s3_non_error_query_url %}[<a target="_blank" href="{{ s3_non_error_query_url }}">S3</a>] {% end %}
                    <button id="delete-role-button" onclick="policyEditor.deleteRole(  '{{ account_id }}', '{{ role.get("name") }}' )" class="ui red button"
                            type="delete" {% if not can_delete_role %}style="display: none;"{% end %} style="margin: 10px;"> Delete Role
                    </button>
    </h2>
    {% include "templated_role_div.html" %}

    {% if cloudtrail_errors %}
    <h2 class="ui header">Recent Permission Errors (<a target="_blank" href="{{ cloudtrail_error_uri }}">Click here to
        see logs</a>)</h2>
    <div class="header">
        This section shows the permission errors discovered for this role in the <b>last 24 hours</b>. This data
        originated
        from CloudTrail.
    </div>
    <table class="ui celled table red">
        <thead>
        <tr>
            <th>Error Call</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        {% for e, count in cloudtrail_errors.items() %}
        <tr>
            <td class="negative">{{ e }}</td>
            <td class="negative">{{ count.get("count") }}</td>
        </tr>
        {% end %}
        </tbody>
    </table>
    {% end %}

    {% if s3_errors %}
    <h2 class="ui header">Recent S3 Errors (<a target="_blank" href="{{ s3_query_url }}">Click here to query for recent
        S3 errors</a>)</h2>
    <div class="header">
        This section shows the S3 errors discovered for this role. <strong style="color: red;">WARNING</strong>: S3
        error information is up to 5 hours out of date.
    </div>
    <table class="ui celled table red">
        <thead>
        <tr>
            <th>Error Call</th>
            <th>Count</th>
            <th>Bucket Name</th>
            <th>Bucket Prefix</th>
            <th>Error Status</th>
            <th>Error Code</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in s3_errors %}
        <tr>
            <td class="negative">{{ entry.get("operation") }}</td>
            <td class="negative">{{ entry.get("count") }}</td>
            <td class="negative">{{ entry.get("bucket_name") }}</td>
            <td class="negative">{{ entry.get("request_prefix") or "" }}</td>
            <td class="negative">{{ entry.get("error_status") or "" }}</td>
            <td class="negative">{{ entry.get("error_code") or "" }}</td>
        </tr>
        {% end %}
        </tbody>
    </table>
    {% end %}

    <h2 class="ui header">Inline Policies</h2>
    <p>
        <button id="create-policy-button" class="ui positive button" onclick="policyEditor.createPolicy()"
                {% if read_only %}style="display: none;"{% end %}>Create New Inline Policy
        </button>
        <button id="wizard-policy-button" refs="wizardPolicyButton" class="ui positive loading disabled button"
                {% if read_only %}style="display: none;"{% end %}>Policy Wizard
        </button>
    </p>
    <div class="ui styled fluid accordion">
        <div id="new_policy_wizard" style="display: none;">
        </div>
        <div id="new_policy" style="display: none;">
            <style type="text/css" media="screen">
                #neweditor {
                    border: 1px solid lightgray;
                    margin: auto;
                    height: 200px;
                    width: 100%;
                }
            </style>
            <div class="active title">
                <i class="dropdown icon"></i>
                New Policy
            </div>
            <div class="active content">
                <div class="ui centered aligned grid">
                    <div class="ui form" style="margin: auto;">
                        <div class="fields">
                            <div class="field" style="text-align: center;">
                                <label>Policy Name</label>
                                <p>
                                    <input type="text" id="newpolicy_name" placeholder="Policy Name" required>
                                </p>
                                {% if config.get('dynamic_config.permission_templates') %}
                                <select id="policy-template-dropdown" class="ui search dropdown"
                                        onchange="policyEditor.changeNewPolicyTemplate(this)">
                                    {# Show policies in alphabetical order by policy label #}
                                    {% for policy_name, policy in sorted(config.get('dynamic_config.permission_templates').items(), key=lambda item: item[1]["label"]) %}
                                    <option value="{{ policy_name }}"
                                            {% if policy.get("default") %}selected="selected"{% end %}>{{ policy.get("label") }}</option>
                                    {% end %}
                                </select>
                                {% end %}
                            </div>
                        </div>
                    </div>
                </div>
                <pre id="neweditor"></pre>
                <div class="scrollmargin"></div>
            </div>
            <input type="hidden" id=neweditor/>
            <div class="ui centered aligned grid">
                <div class="ui center floated">
                    <button class="ui primary button" type="save"
                            {% if read_only or not can_save_delete %}style="display: none;"{% end %}
                            onClick="policyEditor.editPolicy('InlinePolicy', $('#newpolicy_name').val(), neweditor, is_new=true);"
                            style="margin: 10px;">Save new policy
                    </button>
                </div>

                <div class="ui center floated">
                    <button class="ui primary button" type="save" {% if read_only %}style="display: none;"{% end %}
                            onClick="policyEditor.submitPolicyForReview('InlinePolicy', $('#newpolicy_name').val(), neweditor, '{{ role.get("arn") }}', '{{ account_id }}', is_new=true);"
                            style="margin: 10px;">submit new policy for review
                    </button>
                </div>

                <div class="ui center floated">
                    <button id="cancel-policy-button" onclick="policyEditor.cancelNewPolicy()" class="ui red button"
                            type="delete" {% if read_only %}style="display: none;"{% end %} style="margin: 10px;">Cancel
                    </button>
                </div>
            </div>
            <script>
              let neweditor =
                ace.edit("neweditor", {
                  theme: "ace/theme/" + editor_theme,
                  mode: "ace/mode/json",
                  maxLines: 5000,
                  wrap: true,
                  autoScrollEditorIntoView: true,
                  readOnly: readOnly,
                  printMargin: false
                });
              if (keyboard_handler != null) {
                neweditor.setKeyboardHandler("ace/keyboard/" + keyboard_handler)
              }
              neweditor.setValue(permission_value.default.policy);
              neweditor.resize();
              neweditor.setOptions({enableBasicAutocompletion: true});
              neweditor.setOptions({enableLiveAutocompletion: true});
              $('.ui.accordion')
                .accordion();
              let text_neweditor = $('hidden[id="neweditor"]');
              neweditor.getSession().on("change", function () {
                text_neweditor.val(neweditor.getSession().getValue()
                )
                ;
              });
            </script>
        </div>
        {% set i=0 %}
        {% for policy in role.get("policy", {}).get("RolePolicyList", []) %}
        {% set editor = f'editor{i}' %}
        <style type="text/css" media="screen">
            #
            {{ editor }}
            {
                border: 1px solid lightgray
            ;
                margin: auto
            ;
                height: 200px
            ;
                width: 100%
            ;
            }
            .ui.button {
                background: #ffffff;
            }

            .ui.centered.grid {
                margin-bottom: 5px;
            }
        </style>
        <div class="active title">
            <i class="dropdown icon"></i>
            {{ policy.get("PolicyName") }}
        </div>
        <div class="active content">
            <pre id="{{ editor }}">{{ json.dumps(policy.get("PolicyDocument"), indent=4, sort_keys=True, escape_forward_slashes=False) }}</pre>
            <div class="scrollmargin"></div>
        </div>
        <input type="hidden" id={{ editor }}/>
        <div class="ui centered aligned grid">
            <div class="ui center floated">
                <button class="ui primary button" type="save"
                        {% if read_only or not can_save_delete %}style="display: none;"{% end %}
                        onClick="policyEditor.editPolicy('InlinePolicy', '{{ policy.get("PolicyName") }}', {{ editor }});"
                        style="margin: 10px;">Save {{ policy.get("PolicyName") }}
                </button>
            </div>
            <div class="ui center floated">
                <button class="ui primary button" type="save" {% if read_only %}style="display: none;"{% end %}
                        onClick="policyEditor.submitPolicyForReview('InlinePolicy', '{{ policy.get("PolicyName") }}', {{ editor }}, '{{ role.get("arn") }}', '{{ account_id }}');"
                        style="margin: 10px;">Submit {{ policy.get("PolicyName") }} for review
                </button>
            </div>
            <div class="ui center floated">
                <button class="ui red button" type="delete"
                        {% if read_only or not can_save_delete %}style="display: none;"{% end %}
                        onClick="policyEditor.deletePolicy('InlinePolicy', '{{ policy.get("PolicyName") }}')"
                        style="margin: 10px;">Delete {{ policy.get("PolicyName") }}
                </button>
            </div>
        </div>
        <script>
          let {{ editor }} =
          ace.edit("{{ editor }}", {
            theme: "ace/theme/" + editor_theme,
            mode: "ace/mode/json",
            maxLines: 5000,
            wrap: true,
            autoScrollEditorIntoView: true,
            readOnly: readOnly,
            printMargin: false
          });
          if (keyboard_handler != null) {
            {{ editor }}.
            setKeyboardHandler("ace/keyboard/" + keyboard_handler)
          }
          ;
          {{ editor }}.resize()
          {{ editor }}.setOptions({enableBasicAutocompletion: true});
          {{ editor }}.setOptions({enableLiveAutocompletion: true});
          $('.ui.accordion')
            .accordion();
          let text_{{ editor }} = $('hidden[id="{{ editor }}"]');
          {{ editor }}.getSession().on("change", function () {
            text_{{ editor }}.val({{ editor }}.getSession().getValue()
          )
          });
        </script>
        {% set i = i + 1 %}
        {% end %}
    </div>
</div>

<h2 class="ui header">Assume Role Policy Document</h2>
<div class="ui styled fluid accordion">
    <style type="text/css" media="screen">
        #ar_editor {
            border: 1px solid lightgray;
            margin: auto;
            height: 200px;
            width: 100%;
        }
    </style>
    <div class="active title">
        <i class="dropdown icon"></i>
        Assume Role Policy
    </div>
    <div class="active content">
        <pre id="ar_editor">{{ json.dumps(role.get("policy", {}).get("AssumeRolePolicyDocument", {}), indent=4, sort_keys=True, escape_forward_slashes=False) }}</pre>
        <div class="scrollmargin"></div>
    </div>
    <input type="hidden" id="ar_editor"/>
    <div class="ui centered aligned grid">
        <div class="ui center floated">
            <button class="ui primary button" type="save"
                    {% if read_only or not can_save_delete %}style="display: none;"{% end %}
                    onClick="policyEditor.editPolicy('AssumeRolePolicyDocument', 'AssumeRolePolicyDocument', ar_editor);"
                    style="margin: 10px;">Save Assume Role Policy
            </button>
        </div>
        <div class="ui center floated">
            <button class="ui primary button" type="save" {% if read_only %}style="display: none;"{% end %}
                    onClick="policyEditor.submitPolicyForReview('AssumeRolePolicyDocument', 'AssumeRolePolicyDocument', ar_editor, '{{ role.get("arn") }}', '{{ account_id }}');"
                    style="margin: 10px;">Submit Assume Role Policy for review
            </button>
        </div>
    </div>
    <script>
      let ar_editor = ace.edit("ar_editor", {
        theme: "ace/theme/" + editor_theme,
        mode: "ace/mode/json",
        maxLines: 5000,
        wrap: true,
        autoScrollEditorIntoView: true,
        readOnly: readOnly,
        printMargin: false
      });
      if (keyboard_handler != null) {
        ar_editor.setKeyboardHandler("ace/keyboard/" + keyboard_handler)
      }
      ar_editor.resize()
      $('.ui.accordion')
        .accordion();
      let ar_textarea = $('hidden[id="ar_editor"]');
      ar_editor.getSession().on("change", function () {
        ar_textarea.val(ar_editor.getSession().getValue());
      });
    </script>
</div>

<h2 class="ui header">Managed Policies</h2>
<form id="managedPolicyForm" autocomplete="off" method="post" onsubmit="return false;">
    {% module xsrf_form_html() %}
    {% if can_save_delete %}
    Select a managed policy from the dropdown that you wish to add to this role.<br \><br \>
    <select name="managed_policy_add" id="managed_policy_add"
            data-placeholder="Choose a managed policy to add to this role" class="chosen-select"
            tabindex="2"
            onChange="policyEditor.AddManagedPolicy('{{ policy.get('PolicyName') }}', this.value, '{{ role.get("arn") }}')">
        {% for policy in sorted(all_account_managed_policies) %}
        <option value="{{ policy }}"> {{ policy }}</option>
        {% end %}
    </select>
    <div class="ui divider"></div>
    <h3 class="ui header">Attached Policies</h3>
    {% end %}
    <div class="ui form">
        {% for policy in role["policy"]["AttachedManagedPolicies"] %}
        <div class="fields">
            <div class="field">
                <button name="managedPolicy" class="circular ui icon button" type="remove"
                        {% if read_only or not can_save_delete %}style="display: none;"{% end %}
                        onClick="policyEditor.removeManagedPolicy('{{ policy.get('PolicyName') }}', '{{ policy.get('PolicyArn') }}', '{{ role.get("arn") }}')">
                    <i class="remove icon"></i>
                </button>
            </div>
            {% if config.get("security_monkey_search_uri") %}
            <div class="field" style="margin: 7px;">
                <a href="{{config.get("security_monkey_search_uri")}}{{ url_encode(policy.get('PolicyArn')) }}/-/-/-/-/1/25">{{ policy.get('PolicyArn') }}</a>
            </div>
            {% end %}
        </div>
        {% end %}
    </div>
</form>
<h2 class="ui header">Tags</h2>
<p>
    <button class="ui positive button" {% if read_only or not can_save_delete %}style="display: none;"{% end %}
            onClick="policyEditor.addTagField();">Create New Tag
    </button>
</p>

<form id="tagForm" autocomplete="off" method="post" onsubmit="return false;">
    {% module xsrf_form_html() %}
    <div class="ui form">
        {% set i=0 %}
        {% for tag in role["policy"]["Tags"] %}
        <div class="fields">
            <div class="field">
                <label>Tag name</label>
                <input type="text" name=existingtag_{{ i }} placeholder="Name" value="{{ tag["Key"] }}" disabled>
            </div>
            <div class="field">
                <label>Tag value</label>
                <input type="text" name=existingtagvalue_{{ i }} placeholder="Value" value="{{ tag["Value"] }}"
                       {% if read_only or not can_save_delete %}disabled{% end %}>
            </div>
            <input type="hidden" name=existingtagoldvalue_{{ i }} value="{{ tag["Value"] }}">
            <div class="field">
                <button class="ui red button" type="delete"
                        {% if read_only or not can_save_delete %}style="display: none;"
                        {% else %}style="margin: 23px;width: 150px;"{% end %}
                        onClick="policyEditor.deleteTag('{{ tag["Key"] }}')">
                    Delete Tag
                </button>
            </div>
            {% set i += 1 %}
        </div>
        {% end %}
        <div id="new_tags"></div>
    </div>
    <div id="tagwarning" class="ui negative message" style="display: none;">
        <div class="header">
            Error!
        </div>
        <p id="tagwarningmsg"></p>
    </div>
    <p>
        <button id="tagsavebutton" {% if read_only or not can_save_delete %}style="display: none;"{% end %}
                class="ui primary button" type="save" onClick="policyEditor.setTags();" style="margin: 10px;">Save
        </button>
    </p>
</form>
</div>

<style>
    body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
        height: 100% !important;
        overflow-y: visible !important;
    }
</style>

<script src="/static/js/dist/policyEditor.js"></script>

<script>
  document.getElementById("newpolicy_name").onkeypress =
    function () {
      return restrictCharacters($("#newpolicy_name"), event, policyEditor.inlinePolicyCharClass);
    };

  $('.ui.search.dropdown')
    .dropdown()
  ;
  $(".chosen-select").chosen({
    search_contains: true
  });
  $('#managed_policy_add').val('').trigger('chosen:updated');
  document.getElementById("wizard-policy-button").addEventListener("click", policyEditor.renderIAMSelfServiceWizard);
  document.getElementById("wizard-policy-button").classList.remove("loading")
  document.getElementById("wizard-policy-button").classList.remove("disabled")
</script>
{% include "footer.html" %}