{% include "header.html" %}
{% import ujson as json %}
<script type="text/javascript" charset="utf8" src="/static/js/policy_review.js"></script>
<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/sweetalert2.js"></script>
<script src="/static/js/ace-diff/ace-diff.min.js"></script>
<script>
    function toLocalDate(date) {
      let d = new Date(date).toLocaleString();
      return d
    }
    // You can modify the editor theme by manually writing a localstorage variable for aceEditorTheme
    let editor_theme = localStorage.getItem("aceEditorTheme");
    if (editor_theme == null) {
        editor_theme = "textmate";
    }
    // Also the keyboard handler! vim and emacs are available.
    let keyboard_handler = localStorage.getItem("aceKeyboardHandler");
    let original_policy_document = `{% raw json.dumps(changes[0].get("old"), indent=4, sort_keys=True, escape_forward_slashes=False) %}`;
    let request_id = "{{ request.get("request_id") }}";
    let policy_name = "{{ policy_name }}";
    let permissionCompleter = {
        getCompletions: function(editor, session, pos, prefix, callback) {
            if (prefix.length === 0) { callback(null, []); return }
            let row = session.getDocument().getLine(pos["row"]).trim().replace(/\"/g, "");
            $.getJSON(
                "/api/v1/policyuniverse/autocomplete/?prefix=" + row,
                function(wordList) {
                    // wordList like [{"permission":"s3:GetObject"}]
                    callback(null, wordList.map(function(ea) {
                      var value = ea.permission;
                      if (row.indexOf(":") > -1) {
                        value = value.split(":")[1];
                      }
                      return {name: ea.permission, value: value, meta: "Permission"}
                    }));
                })
          }
      };
      let langTools = ace.require("ace/ext/language_tools");
      langTools.addCompleter(permissionCompleter);
</script>
<link href="/static/css/ace-diff.min.css" rel="stylesheet">
<div id="wrapper" class="container">
    <div class="ui dimmer">
        <div class="ui medium text loader">Loading</div>
    </div>
    <div class="ui basic modal">
        <div id="error_div" class="ui hidden error message">
            <div class="header">
                Oops!
            </div>
            <p id="error_response"></p>
        </div>
        <div id="success_div" class="ui hidden positive message">
            <div class="header">
                Success!
            </div>
            <p id="success_response"></p>
        </div>
        <div class="scrolling content">
            <div id="modal_content"></div>
        </div>
    </div>
    <div id="portfolio" class="container">
        <h1 class="ui header">Role: {{ arn }}</h1>
        {% include "templated_role_div.html" %}

        <!-- For error and success messages. -->
        <div class="ui basic modal">
            <div id="error_div" class="ui hidden error message">
                <div class="header">
                    Oops!
                </div>
                <p id="error_response"></p>
            </div>
            <div id="success_div" class="ui hidden positive message">
                <div class="header">
                    Success!
                </div>
                <p id="success_response"></p>
            </div>
            <div class="scrolling content">
                <div id="modal_content"></div>
            </div>
        </div>
        <!-- End error and success messages -->

        <table class="ui celled table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td><b>User</b></td>
                <td>
                    <b>{{ escape(requestor_info.get("name").get("fullName")) }} - <a href="/accessui/user/{{ escape(request.get("username")) }}">{{ escape(request.get("username")) }} </a></b>
                    {% if "get_employee_info_url" in config.dir_ref(config.config_plugin) %}
                        <a target="_blank" href="{{ config.config_plugin().get_employee_info_url(escape(request.get("username", ""))) }}">

                            {% if "get_employee_photo_url" in config.dir_ref(config.config_plugin) %}
                            <img
                                class="ui mini spaced image" src="{{ config.config_plugin().get_employee_photo_url(escape(request.get("username", ""))) }}"
                            />
                            {% end %}
                        </a>
                    {% end %}
                </td>
            </tr>
            <tr>
                <td>Request Time</td>
                <td><span style="copendinglor: red;"><script>document.write(toLocalDate({{ request.get("request_time") * 1000}}))</script></span>
                </td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ escape(requestor_info.get("customAttributes", {}).get("title")) }}</td>
            </tr>
            <tr>
                <td>Manager email</td>
                <td>
                    <a href="mailto:{{ escape(requestor_info.get("relations", [{}])[0].get("value", "")) }}">{{ escape(requestor_info.get("relations", [{}])[0].get("value", "")) }}</a>
                </td>
            </tr>
            <tr>
                <td>User justification</td>
                <td>{{ escape(request.get("justification")) }}</td>
            </tr>
            <tr>
                <td>Request Status</td>
                <td>
                    <span style="copendinglor: {% if status == "approved" %}green{% else %}red{% end %};"><strong style="color: {% if status == "approved" %}green{% else %}red{% end %};">{{ escape(request.get("status")) }}{% if status == "approved" %} and committed{% end %}</strong></span>
                </td>
            </tr>
            {% if request.get("reviewer_comments") %}
                <tr>
                    <td>Reviewer comments</td>
                    <td>{{ escape(request.get("reviewer_comments")) }}</td>
                </tr>
            {% end %}
            {% if request.get("updated_by") %}
                <tr>
                    <td>Updated by</td>
                    <td>{{ escape(request.get("updated_by")) }}</td>
                </tr>
            {% end %}
            {% if request.get("last_updated") %}
                <tr>
                    <td>Last Updated</td>
                    <td><span style="copendinglor: red;"><script>document.write(toLocalDate({{ request.get("last_updated") * 1000}}))</script></span>
                </tr>
            {% end %}
            <tr>
                <td>User passed background check</td>
                <td><span style="copendinglor: red;">{{ escape(requestor_info.get('customAttributes', dict()).get('bcStatusIndicator')) == "1" and escape(requestor_info.get('customAttributes', {}).get('backgroundCheckPackage')) != 'Driving and Aviation Package' }}</span>
                </td>
            </tr>
            <tr>
                <td>Role</td>
                <td><span style="copendinglor: red;"><a href="{{ role_uri }}">{{ arn }}</a></span>
                </td>
            </tr>
            {% if request.get("resources") %}
                <tr>
                    <td>Resources</td>
                    <td><span style="copendinglor: red;">{% for resource in request.get("resources") %}{{ escape(resource) }} <br/> {% end %}</span>
                </tr>
            {% end %}
        </tbody>
    </table>

        <div class="ui horizontal segment">
            <h2><p>Policy Name: {{ policy_name }}{% if new_policy %} - <strong style="color: red;">New Policy</strong>{% end %}</p></h2>
            {% if status == "pending" %}
            <div class="ui warning message">
              <div class="header">
                Tips
              </div>
              <ul class="list">
                <li>If you've made a mistake or want to add additional permissions to your request, you can modify the request and click 'Save Edits'</li>
              </ul>
            </div>
            {% end %}
            <div class="ui grid">
                <div class="eight wide column">
                    {% if status == "pending" %}
                    <p>
                        <h3>Current Policy</h3>
                    </p>
                    <p>This is a read-only view of the current policy in AWS.</p>
                    {% else %}
                    <p>
                        <h3>Former Policy</h3>
                    </p>
                    <p>This is a read-only view of the policy in AWS at the time this policy's status was last modified.</p>
                    {% end %}
                </div>
                <div class="eight wide column">
                    {% if status == "pending" %}
                    <p>
                        <h3>Proposed Policy</h3>
                    </p>
                    <p>This is an editable view of the proposed policy. An approver can modify the proposed policy before approving and applying it.</p>
                    {% elif status == "approved" %}
                    <p>
                        <h3>Applied Policy</h3>
                    </p>
                    <p>This is a view of the policy that was approved and applied to the resource.</p>
                    {% elif status in  ["rejected", "cancelled"] %}
                    <p>
                        <h3>Cancelled Policy</h3>
                    </p>
                    <p>This is a view of the policy that was cancelled or rejected.</p>
                    {% end %}
                </div>
            </div>
            <div class="ui segment" style="height: 500px;">
                <div class="acediff"></div>
            </div>
            <div class="ui segment">
                <form class="ui form" onsubmit="return false;">
                    {% module xsrf_form_html() %}
                    <div class="ui list" style="width: 1200px;">
                        {% if show_approve_reject_buttons and request.get("status", "") in ["pending", "approved"] %}
                            <div class="item">
                                <label>Reviewer Comments:</label>
                                <textarea id="reviewer_comments" rows="2"></textarea>
                            </div>
                            <br />
                        {% else %}
                        <textarea id="reviewer_comments" style="display:none;"></textarea>
                        {% end %}
                        <div class="item">
                            {% if show_approve_reject_buttons %}
                                <button class="positive ui button" name="status" id="approved" onClick="policyApproveRejectFlow(this.id, request_id, document.getElementById('reviewer_comments').value, policy_name, original_policy_document, differ.getEditors().right.getSession());"
                                style="margin: 10px;">
                                    Approve and Commit Policy
                                </button>
                                <button class="negative ui button" name="status" id="rejected" onClick="policyApproveRejectFlow(this.id, request_id, document.getElementById('reviewer_comments').value, policy_name, original_policy_document, differ.getEditors().right.getSession());"
                                style="margin: 10px;">
                                    Reject
                                </button>
                            {% end %}
                            {% if show_update_button %}
                            <button class="positive ui button" name="status" id="update" onClick="policyApproveRejectFlow(this.id, request_id, document.getElementById('reviewer_comments').value, policy_name, original_policy_document, differ.getEditors().right.getSession());"
                            style="margin: 10px;">
                                    Save Edits
                            </button>
                            {% end %}

                            {% if show_cancel_button %}
                                <button class="negative ui button" name="status" id="cancelled" onClick="policyApproveRejectFlow(this.id, request_id, document.getElementById('reviewer_comments').value, policy_name, original_policy_document, differ.getEditors().right.getSession());"
                                style="margin: 10px;">
                                    Cancel
                                </button>
                            {% end %}

                            {% if show_pending_button %}
                                <button class="negative ui button" name="status" id="pending" onClick="policyApproveRejectFlow(this.id, request_id, document.getElementById('reviewer_comments').value + ' -- Returned to pending state', policy_name, original_policy_document, differ.getEditors().right.getSession());"
                                style="margin: 10px;">
                                    Return to Pending state [ADMIN]
                                </button>
                            {% end %}
                            {% if status in ["approved", "rejected", "cancelled"] and not show_pending_button %}
                            <p>This policy's status is <b>"{{ status }}"</b> and can no longer be modified.</p>
                            {% end %}

                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let differ = new AceDiff({
      element: '.acediff',
      mode: "ace/mode/json",
      theme: "ace/theme/" + editor_theme,
      diffGranularity: "specific",
      left: {
        content: original_policy_document,
        editable: false,
        {% if status != "pending" %}
        copyLinkEnabled: false,
        {% end %}
      },
      right: {
        content: `{% raw escape_json(json.dumps(changes[0].get("new"), indent=4, sort_keys=True, escape_forward_slashes=False)) %}`,
        copyLinkEnabled: false,
        {% if read_only %}
        editable: false,
        {% end %}
      },
    });
    differ.editors.left.ace.setShowPrintMargin(false);
    differ.editors.right.ace.setShowPrintMargin(false);
    differ.editors.right.ace.setOptions({enableBasicAutocompletion: true});
    differ.editors.right.ace.setOptions({enableLiveAutocompletion: true});
    if (keyboard_handler != null) {
        differ.editors.right.ace.setKeyboardHandler(("ace/keyboard/" + keyboard_handler));
    }

    $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
      })
    ;

    setTimeout(function() { scrollToDiff(0); }, 500)
</script>
<style>
    body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) { height: 100% !important; overflow-y: visible !important; }
</style>