{% include header.html %}
<div id="wrapper" class="container">
    <script>
        var debug = true;
        Array.prototype.unique = function () {
            return this.filter(function (value, index, self) {
                return self.indexOf(value) === index;
            });
        }

        function log(message) {
            if (debug) {
                console.log(message);
            }
        }

        function selectRole(role, url, method) {
            // Create hidden iframe to log user out
            document.getElementsByName('logOutIframe')[0].src = "https://signin.aws.amazon.com/oauth?Action=logout";
            // If the user has the Consoleme Helper chrome extension, this will tell the extension that a role has been
            // selected. The extension will delete the AWS login cookie to facilitate quick role redirection.
            // Wait for hidden iframe to log the user out, and then call the
            // Redirect function
            log("Setting delay=" + consoleme_delay);
            log("Selecting role=" + role);
            setTimeout(function () {
                selectRoleRedirect(role, url, method);
                log_completion();
            }, consoleme_delay);
        }

        function getCookie(name) {
            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
        }

        function selectRoleRedirect(role, url, method = 'post') {
            // Create the form object
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", url);
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "role");
            hiddenField.setAttribute("value", role);

            form.appendChild(hiddenField);

            var region = document.createElement("input");
            region.setAttribute("type", "hidden");
            region.setAttribute("name", "region");
            {% if region %}
                region.setAttribute("value", "{{ escape(region) }}");
            {% end %}
            form.appendChild(region);

            let redirect = document.createElement("input");
            redirect.setAttribute("type", "hidden");
            redirect.setAttribute("name", "redirect");
            {% if globals().get("redirect") and redirect %}
                redirect.setAttribute("value", "{{ escape(redirect) }}");
            {% end %}
            form.appendChild(redirect);

            var xsrf_cookie = getCookie("_xsrf");
            var xsrf = document.createElement("input");
            xsrf.setAttribute("type", "hidden");
            xsrf.setAttribute("name", "_xsrf");
            xsrf.setAttribute("value", xsrf_cookie);

            form.appendChild(xsrf);

            document.body.appendChild(form); // inject the form object into the body section
            form.submit();
        }

        function showRolesForAccount(account) {
            // Hide all roles not associated with this account
            {% for r in eligible_roles %}
            var e = document.getElementById("{{ escape(r) }}");

            if (!("{{ escape(r)}}".indexOf(account) !== -1)) {
                e.style.display = "none";

            } else {
                e.style.display = "block";
            }
            {% end %}
        }

        if (typeof consoleme_delay == 'undefined') {
            var consoleme_delay = 2000;
        }
</script>
{% if error %}
    <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
            Oops!
        </div>
        <p>{{ escape(error) }}
        </p>
    </div>
{% end %}

<div>
    <script type="text/javascript">
        reset_options();
    </script>
    <div id="hidden" style="display: none;">
        <iframe name="logOutIframe" style="width:0;height:0;border:0; border:none;"></iframe>
    </div>
    <div id="portfolio" class="container">
        <form id="aws_form" name="aws_form" action="/role/" method="post" enctype='application/json' onkeypress="return event.keyCode != 13;">
            {% module xsrf_form_html() %}
            <div class="title">
                {% if eligible_accounts %}
                    <h2>Select a role or filter by account</h2>
                {% else %}
                    {% if len(eligible_roles) > 1 %}
                        <h2>Select a role</h2>
                    {% elif eligible_roles %}
                        <h2>Assuming role {{ escape(eligible_roles[0]) }}</h2>
                        <h2>Wait a second.</h2>
                        <script>
                            setLocalStorageCache("{{ escape(eligible_roles[0]) }}");
                        </script>
                    {% else %}
                        <h2>You do not currently have any eligible roles.</h2>
                    {% end %}
                {% end %}
            </div>
            <div>
                {% if eligible_accounts %}
                    <select name="account" id="account" data-placeholder="Choose an account" class="chosen-select" tabindex="2" onChange="showRolesForAccount(this.options[this.selectedIndex].value);">
                        <opt value="">
                            {% for k, v in sorted(eligible_accounts.items(), key = itemgetter(1)) %}
                                {% if v %}
                                    <option value={{ escape(k) }}>{{ "{} - {}".format(escape(v), escape(k)) }}</option>
                                {% else %}
                                    <option value={{ escape(k) }}>{{ escape(k) }}</option>
                                {% end %}
                            {% end %}
                        </opt>
                    </select>
                {% end %}
            </div>
            <br />
            {% if len(eligible_roles) == 1 %}
                <script>
                    javascript:selectRole("{{ escape(eligible_roles[0]) }}", "/role/");
                </script>
            {% else %}
                {% for r in sorted(eligible_roles, key = lambda x: x.split('role/')[1]) %}
                    <div class="text-center" data-toggle="buttons" id="{{ escape(r) }}" style="display: block; margin-bottom: 2px;">
                        <label class="ui blue btn" id="{{ escape(r) }}">
                            <input type="radio" name="role" id="{{ escape(r) }}" style="vertical-align: middle;" value="{{ escape(r) }}" />{{ format_role_name(r, eligible_accounts) }}</label>
                    </div>
                {% end %}
            {% end %}
        </form>
    </div>
</div>
<script>
    {% if recent_roles %}
        pastRoles = parseLocalStorageCache();
        let accounts = {% raw eligible_accounts %};

        if (pastRoles != null) {
            text = '<h3>Recent roles</h3>'
            text += '<form id="recent_roles" name="recent_roles" action="/role/" method="post" enctype="application/json"><ul>'
            text += '{% module xsrf_form_html() %}'
            text += '<input type=hidden name="region" value="{{ escape(region) }}">'
            {% if globals().get("redirect") and redirect %}
                text += '<input type=hidden name="redirect" value="{{ escape(redirect) }}">'
            {% end %}
            for (i = 0; i < pastRoles.length; i++) {
                let roleName = formatRoleName(pastRoles[i].split('role/')[1], accounts);
                // Does the role-account mapping not exist anymore?
                if (!roleName) {
                    continue;
                }
                text += '<li><a style="height: 40px;padding: 0px 0px; */"><div class="text-center" data-toggle="buttons" style="display: block; margin-bottom:2px;margin-left:30px;margin-top:10px;"><label class="btn" style="width: 200px;display: inline-block;margin-left: 10px;height: 40px;">'
                text += '<input type="radio" display="block" class="btn btn-link" name="role" style="vertical-align: middle;" value="' + pastRoles[i] + '"/>' + roleName
                text += '</label></div></a></li>'
            }
            document.getElementById("RoleHistory").innerHTML = text;
        }

        window.onload = reset_options();
    {% end %}
    $(".chosen-select").chosen({
        search_contains: true
    });

    //$('input[type=radio]').on('change', function () {
    $('input[type=radio]').on('change', function(form) {
        log("Setting role=" + form.currentTarget.value)
        setRecentRole("role");
        document.getElementsByName('logOutIframe')[0].src = "https://signin.aws.amazon.com/oauth?Action=logout";
        log("Setting delay=" + consoleme_delay);
        selectRole(form.currentTarget.value, "/role/");
    });
</script>
{% include "footer.html" %}
