<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/swagger/swagger-ui.css">
    <script src="/static/swagger/swagger-ui-standalone-preset.js"></script>
    <script src="/static/swagger/swagger-ui-bundle.js"></script>
</head>
<body>

<div id="swagger-ui"></div>

<script>
  const ui = SwaggerUIBundle({
    url: "/swagger.json",
    dom_id: '#swagger-ui',
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
    ],
    layout: "StandaloneLayout"
  })
  window.ui = ui

</script>

</body>
</html>