{% include "header.html" %}
<div id="wrapper" class="container">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

    <h2 class="ui header">
        <i class="users icon"></i>
        <div class="content">
            All Users
        </div>
    </h2>

    <div id="loading" class="ui active inverted dimmer">
        <div class="ui text loader">Loading</div>
    </div>
    <div id="hide" style="display:none"/>
    <table id="users" class="display:block" style="width:100%">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Username</th>
            <th>Status</th>
        </tr>
        </thead>
    </table>
</div>
</div>
<script>
  $(document).ready(function () {
    // Search on each header
    $('#users thead th').each(function () {
      var title = $('#users thead th').eq($(this).index()).text();
      $(this).html('<input type="text" placeholder="Search ' + title + '" />');
    });

    var table = $('#users').DataTable({
      "order": [[1, "asc"]],
      "dom": 'Bfrtip',
      "buttons": ['csvHtml5'],
      "initComplete": function () {
        $('#hide').css('display', 'block');
        $('#loading').css('display', 'none');
      },
      "lengthMenu": [[10, 25, 50, 100, 1000], [10, 25, 50, 100, 1000]],
      "order": [],
      "displayLength": 25,
      "processing": true,
      "serverSide": true,
      "ajax": "get_users",
      "search": {
        "regex": true
      },
      "columns": [
        {"orderable": false},
        {
          "orderable": false,
          "render": function (data, type, row, meta) {
            if (type === 'display') {
              data = '<a target="_blank" href="/accessui/user/' + data + '">' + data + '</a>';
            }

            return data;
          }
        },
        {"orderable": false}
      ],
      "sDom": '<"top"i>rt<"bottom"lpB><"clear">'
    });

    let input_filter_timeout;

// Apply the search
    table.columns().eq(0).each(function (colIdx) {
      $('input', table.column(colIdx).header()).on('keyup search input paste cut keydown', function (ev) {
        that = this;
        clearTimeout(input_filter_timeout);
        input_filter_timeout = setTimeout(function () {
            table
              .column(colIdx)
              .search(that.value)
              .draw();
          },
          350);
      });
    });

// Allow searching on the dropdown
    table.columns().eq(0).each(function (colIdx) {
      $('select', table.column(colIdx).header()).on('keyup change', function () {
        clearTimeOut()
        table
          .column(colIdx)
          .search(this.value)
          .draw();
      });
    });
  });
</script>
{% include "footer.html" %}
