{% include "header.html" %}
<div id="wrapper" class="container">
    <h2 class="ui header">
        <i class="info circle icon"></i>
        <div class="content">
            User Information
        </div>
    </h2>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/js/user.js"></script>

    <div class="ui dimmer">
        <div class="ui medium text loader">Loading</div>
    </div>

    <div class="ui basic modal">
        <div id="error_div" class="ui hidden error message">
            <div class="header">
                Oops!
            </div>
            <p id="error_response"></p>
        </div>
        <div id="success_div" class="ui hidden positive message">
            <div class="header">
                Success!
            </div>
            <p id="success_response"></p>
        </div>
        <div class="scrolling content">
            <div id="modal_content"></div>
        </div>
    </div>

    <form class="ui form" autocomplete="off">
        {% module xsrf_form_html() %}
        <div class="field">
            {% if "get_employee_info_url" in config.dir_ref(config.config_plugin) %}
            <label>
                <a target="_blank" href="{{ config.config_plugin().get_employee_info_url(escape(user)) }}">
                    User Info
                </a>
            </label>
            {% end %}
        </div>
        <div class="field">
            <label>Name</label>
            <input type="text" name="name" placeholder="Username" value="{{ escape(user_info.get("userName")) }}"
                   disabled>
        </div>

        <div class="field">
            <label>Full Name</label>
            <input type="text" name="full_name" placeholder="Full Name"
                   value="{{ escape(user_info.get("name", {}).get("fullName")) }}" disabled>
        </div>

        <div class="field">
            <label>Title</label>
            <input type="text" name="title" placeholder="Title"
                   value="{{ escape(user_info.get("customAttributes", {}).get("title", "")) }}" disabled>
        </div>

        <div class="field">
            <label>Manager Email</label>
            <input type="text" name="title" placeholder="Title"
                   value="{{ escape(user_info.get("relations", [{}])[0].get("value", "")) }}" disabled>
        </div>


        <div class="field">
            <label>Status</label>
            <input type="text" name="status" placeholder="status" value="{{ escape(user_info.get("status")) }}"
                   disabled>
        </div>

        <div class="field">
            <label>Background Check Completed</label>
            <input type="text" name="status" placeholder="status"
                   value="{{ escape(user_info.get('customAttributes', dict()).get('bcStatusIndicator', '')) == '1' and escape(user_info.get('customAttributes', {}).get('backgroundCheckPackage', '')) != 'Driving and Aviation Package' }}"
                   disabled>
        </div>
    </form>
    <form class="ui form" id="user_modify_form" name="user_modify_form" autocomplete="off">
        {% module xsrf_form_html() %}

        <h2 class="ui header">
            <i class="child icon"></i>
            <div class="content">
                Groups
            </div>
        </h2>
        <div class="field">
            <label>Add groups</label>
            <textarea rows="2" name="add_groups" placeholder="groupa@example.com,groupb@example.com"
                   {% if not can_modify_members %} disabled{% end %}></textarea>
        </div>

        <div class="field">
            <label>Remove groups</label>
            <textarea rows="2" name="remove_groups" placeholder="groupa@example.com,groupb@example.com"
                   {% if not can_modify_members %} disabled{% end %}></textarea>
        </div>
        <br/>
        <button class="ui primary button" type="submit"
                {% if not can_modify_members %}disabled{% end %} >
            Submit
        </button>
        <br/><br/>
    </form>
    <label><b>Direct Group Memberships</b></label>
    <br/><br/>
    <table id="groups" class="ui celled table" style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Remove</th>
        </tr>
        </thead>

        <tbody>
        <form class="ui form" id="remove" name="remove_user_form" autocomplete="off">
            {% module xsrf_form_html() %}
            {% for g in affected_user_groups %}
            <tr>
                <td>{{ escape(g) }}</td>
                <td>
                    <button class="ui negative button" name="remove_members" value="{{ escape(g) }}"
                            onclick='removeUser(this.value);' {% if not can_modify_members %}disabled{% end %}>REMOVE
                    </button>
                </td>
            </tr>
            {% end %}
        </form>
        </tbody>
    </table>
    </main>
</div>
<script type="text/javascript" charset="utf8" src="/static/js/user_footer.js"></script>
{% include "footer.html" %}
