.App {
    height: 100%;
    width: 100%;
    display: flex;
}

#header {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: #fff;
    align-items: center;
}

#header .brand {
    display: flex;
    align-items: center;
    height: 70px;
    width: 240px;
    flex-shrink: 0;
    padding: 0;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff!important;
    background: #e50914;
    text-decoration: none;
    text-transform: uppercase;
    border: none!important;
    justify-content: center;
}

#header .content {
    display: flex;
    height: 70px;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    flex-grow: 1;
}

#header .content .ui.secondary.pointing.menu {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

#primary {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 70px;
}

#primary .sidebar {
    top: 70px;
    width:240px;
    min-height:100%;
    justify-content:space-between;
    background-color:#262626;
    font-size:14px
}

#primary .sidebar #RoleHistory {
    display: block;
    width: 100%;
    margin: 1.5em 0 0;
}

#primary .sidebar #help {
    display: block;
    width: 100%;
    margin: 1.5em 0 0;
}

#primary .sidebar h1, h2, h3, h4, h5 {
    color: #737373;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

#primary .sidebar ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#primary .sidebar ul li {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #2e2e2e;
}

#primary .sidebar ul li a {
    height: 40px;
    padding: 0px 0px;
    cursor: pointer;
    color: #8c8c8c;
    text-decoration: none;
    background-color: transparent;
}

#primary .sidebar ul li a div {
    display: block;
    margin-bottom: 2px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}

#primary .sidebar div#help ul li a {
    display: inline-block;
    height: 40px;
    width: 200px;
    margin: 10px 0 0 30px;
    cursor: pointer;
}

#primary .sidebar ul li a div label {
    display: inline-block;
    height: 40px;
    width: 200px;
    margin-left: 10px;
    cursor: pointer;
}

#primary .sidebar footer {
    display:flex;
    color:#595959;
    padding:1em;
    align-self:end;
    width:100%;
    flex-direction:column;
    font-size:.9em;
    align-items:center;
    justify-content:center;
    align-self: end;
}

#primary .sidebar div#consoleme_logo {
    display: block;
    opacity: 0.9;
    max-width: 90%;
}

#primary .sidebar div#consoleme_logo img#consoleme_logo {
    width: 174px;
    height: 212px;
}

.sidebar footer a.security-logo {
    width: 60%;
    height: 80px;
    display: block;
    opacity: .3;
    transition: opacity 2s;
}

.sidebar footer a.security-logo:hover {
    opacity: 1;
}
